# generic ignores
bin
target
build
.DS_Store

# eclipse
.classpath
.project
.settings
.metadata
.externalToolBuilders
*.launch

# intellij
.idea
*.iml
out

# PHP / Composer
vendor

# Gradle
.gradle
classes
.gradletasknamecache
